{#
    This file is part of the "Documents Manager" project.

    (c) cRolland

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form, {'attr': {'class': 'form-control'}})}}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}



