{#
    This file is part of the "Documents Manager" project.

    (c) cRolland

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends '@base_tamplate_path/base.html.twig' %}

{# Import macros form the block helper twig. #}
{% import '@base_tamplate_path/block_helper.html.twig' as block_helper %}

{% block body %}
    {% set user = app.session.get('connectedUser') %}

    {# Enable / Disable the add new category button by connected user access rights. #}
    {% set uploadIsDisabled = userCanAccess(constant('App\\Entity\\User::USER_UPLOAD_ROLE'), user) ? '' : 'disabled' %}

    <hr />
    <div class="row">
        <div class="col">
            <h5><i class="fa fa-list" aria-hidden="true"></i> Document categories</h5>
        </div>
        <div class="col text-right">
            <button type="button" class="btn btn-outline-dark" {{ uploadIsDisabled }} data-toggle="modal" data-target=".add-new-category">
                <i class="fa fa-plus" aria-hidden="true"></i> Add new category
            </button>
        </div>
    </div>

    {{ block_helper.category_elements(elements, user) }}

    <hr />
    <h5><i class="fa fa-file" aria-hidden="true"></i> Selected Category : <span id="selected-category-label">no category selected</span></h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Version</th>
            <th scope="col">Uploaded At</th>
            <th scope="col">Download</th>
        </tr>
        </thead>
        <tbody
                id="selected-category-file-list"
                data-user-has-download-rights="{{ userCanAccess(constant('App\\Entity\\User::USER_DOWNLOAD_ROLE'), user)}}"
        ></tbody>
    </table>

    <div class="card">
        <div class="card-body"><span id="empty-document-list-text">Please select a new category.</span></div>
    </div>

    {% if userCanAccess(constant('App\\Entity\\User::USER_UPLOAD_ROLE'), user) %}
        {# Build the add new category modal. #}
        {{ block_helper.build_modal('add-new-category', 'Add new Category', buildCategoryForm()) }}
    {% endif %}

    {{ block_helper.build_category_modals(elements, user) }}
{% endblock %}
