/** ==================================
 * Category Tree
 * =================================== */

.categoryTree {
  margin: 0;
  padding: 0;

  ul {
    list-style-type: none;
  }
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  margin-right: 20px;

  ::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
}

.caret-down {
  ::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
  }
}

.nested {
  display: none;
}

.active {
  display: block;
}

/** ==================================
 * Category Tree
 * =================================== */

.flash-messages-area {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}