{#
    This file is part of the "Documents Manager" project.

    (c) cRolland

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Documents Manager!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#"><i class="fa fa-database" aria-hidden="true"></i> Documents Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if app.session.get('connectedUser') is defined %}
                            {% set user = app.session.get('connectedUser') %}
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Current User : {{ user.username }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-toggle-on" aria-hidden="true"></i> Switch User
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if availableUsers is defined %}
                                    {% for user in availableUsers %}
                                        <a class="dropdown-item" href="{{ path('frontend_home_page', {'userId' : user.id}) }}">
                                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>  {{ user.username }}
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    No available user.
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% for message in app.flashes('success') %}
                <hr />
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <hr />
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>