{#
    This file is part of the "Documents Manager" project.

    (c) cRolland

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{# This macro generate the category tree. #}
{% macro category_elements(categories, user) %}
    {% import _self as macros %}

    {% for category in categories %}
        {% set categoryData = {'pathToDocuments' : absolute_url(path('frontend_category_by_category_id', {'id' : category.id}))} %}

        <li class="list-group-item">
            <span class="caret" onclick="onSelectCategory({{ categoryData|json_encode }})">{{ category.name }}</span>

            {# The add new and and edit icon was visible only for USER_ADMIN_ROLE and USER_UPLOAD_ROLE roles. #}
            {% if userCanAccess(constant('App\\Entity\\User::USER_UPLOAD_ROLE'), user) %}
                <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target=".edit-category-{{ category.id }}"></i>
                <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target=".remove-category-{{ category.id }}"></i>
            {% endif %}

            {# The upload files icon was visible only for USER_ADMIN_ROLE and USER_UPLOAD_ROLE roles. #}
            {% if category.parent is not null and userCanAccess(constant('App\\Entity\\User::USER_UPLOAD_ROLE'), user) %}
                <i class="fa fa-upload" aria-hidden="true" data-toggle="modal" data-target=".add-document-to-{{ category.id }}"></i>
            {% endif %}

            {# Call self recursively if the current category has children. #}
            {% if category.children.toArray|length > 0 %}
                <ul class="nested list-group list-group-flush">
                    {{ macros.category_elements(category.children.toArray, user) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}

    <script type="text/javascript">
        function onSelectCategory(data) {
            const onSelectCategoryEvent = new CustomEvent('onSelectCategoryEvent', {'detail': data});
            document.dispatchEvent(onSelectCategoryEvent);
        }
    </script>
{% endmacro %}

{#
    This macro generate the form into the modals. The different modals was generated in function of
    the current connected user roles.
#}
{% macro build_category_modals(categories, user) %}
    {% import _self as macros %}

    {% for category in categories %}
        {% if userCanAccess(constant('App\\Entity\\User::USER_UPLOAD_ROLE'), user) %}
            {{ macros.build_modal(
                'edit-category-' ~ category.id,
                'Edit : ' ~ category.name,
                buildCategoryForm(category)
            ) }}

            {{ macros.deletion_modal_builder(
                'remove-category-' ~ category.id,
                category
            ) }}
        {% endif %}

        {% if category.parent is not null or category.parent is not null and userCanAccess(constant('App\\Entity\\User::USER_UPLOAD_ROLE'), user) %}
            {{ macros.build_modal(
                'add-document-to-' ~ category.id,
                'Add document to : ' ~ category.name ~ 'category.',
                buildDocumentUploaderForm(category, user)
            ) }}
        {% endif %}

        {# Call self recursively if the current category has children. #}
        {% if category.children.toArray|length > 0 %}
            {{ macros.build_category_modals(category.children.toArray, user) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{# This macro generate the modal structure. #}
{% macro build_modal(modalClass, title, form) %}
    <div class="modal fade {{ modalClass }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>>
    </div>
{% endmacro %}

{% macro deletion_modal_builder(modalClass, category) %}
    <div class="modal fade {{ modalClass }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Category deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this category ({{ category.name }}) ?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-danger" href="{{ path('frontend_remove_category', {'id' : category.id}) }}"> Delete</a>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
